PORT=8000
HOST=0.0.0.0
DEBUG=True
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=quickbite
SECRET_KEY="324d857ee4545e48cbc5f73116dbfa76fe9d279d8166cf1846e302185e9cc225"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
GST_PERCENTAGE=5.0
DEFAULT_DELIVERY_CHARGE=40.0
FREE_DELIVERY_THRESHOLD=500.0
